<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-zinc-900 text-white flex items-center justify-center min-h-screen"
  >
    <div class="w-full max-w-sm">
      <div class="bg-zinc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-4xl font-bold mb-6 text-center">Login</h1>
        <% if (error) { %>
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-4 rounded relative"
          role="alert"
        >
          <strong class="font-bold">Ops!</strong>
          <span class="block sm:inline"><%= error %></span>
        </div>
        <% } %>
        <form action="/login" method="POST">
          <div class="mb-4">
            <label class="block text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Digite seu email"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-zinc-900 leading-tight focus:outline-none focus:shadow-outline"
              required
            />
          </div>
          <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="password">
              Senha
            </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Digite sua senha"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-zinc-900 leading-tight focus:outline-none focus:shadow-outline"
              required
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Entrar
            </button>
            <a
              href="/users/register"
              class="inline-block align-baseline font-bold text-sm text-blue-400 hover:text-blue-600"
            >
              Criar uma conta
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
